decorator==4.4.1
ipython-genutils==0.2.0
pbr==5.4.4
prompt-toolkit==3.0.2
ptyprocess==0.6.0
Pygments==2.7.4
pyzmq==18.1.1
regex==2019.12.20
ruamel.yaml.clib==0.1.2
six==1.12.0
stevedore==1.31.0
toml==0.10.0
virtualenv==16.7.8
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
wcwidth==0.1.7
